.text-input-container {
  width: 94%;
  display: flex;
  flex-direction: row;
  background-color: rgba(114, 118, 125, .3);
  border-radius: 8px;
  margin: 0px 3% 20px 3%;

  .emojis {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 70%;

    input {
      color: #fff;
    }
  }

  .send {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      border-radius: 100%;
    }
  }
}